In [25]:
#Part_1
#task1
import numpy as np

# Define the number of employees for each department
HR_count = 3
IT_count = 15
Finance_count = 5
Sales_count = 7

# Create employee ID arrays for each department
HR_ids = np.arange(1, HR_count + 1)
IT_ids = np.arange(HR_count + 1, HR_count + IT_count + 1)
Finance_ids = np.arange(HR_count + IT_count + 1, HR_count + IT_count + Finance_count + 1)
Sales_ids = np.arange(HR_count + IT_count + Finance_count + 1, HR_count + IT_count + Finance_count + Sales_count + 1)

# Print the employee IDs for each department
print("HR IDs:", HR_ids)
print("IT IDs:", IT_ids)
print("Finance IDs:", Finance_ids)
print("Sales IDs:", Sales_ids)

HR IDs: [1 2 3]
IT IDs: [ 4  5  6  7  8  9 10 11 12 13 14 15 16 17 18]
Finance IDs: [19 20 21 22 23]
Sales IDs: [24 25 26 27 28 29 30]

In [26]:
#task2
import numpy as np

# Create salary arrays for each department
HR_salaries = np.array([50, 60, 57])
IT_salaries = np.full(15, 67)  # Create an array of 15 elements with the value 67
Finance_salaries = np.array([60, 65, 50, 70, 87])
Sales_salaries = np.array([50, 60, 65, 90, 56, 65, 71])

# Print the salary arrays
print("HR Salaries:", HR_salaries)
print("IT Salaries:", IT_salaries)
print("Finance Salaries:", Finance_salaries)
print("Sales Salaries:", Sales_salaries)

HR Salaries: [50 60 57]
IT Salaries: [67 67 67 67 67 67 67 67 67 67 67 67 67 67 67]
Finance Salaries: [60 65 50 70 87]
Sales Salaries: [50 60 65 90 56 65 71]

In [27]:
#task3
import numpy as np

# Calculate average salaries for each department
HR_avg_salary = np.mean(HR_salaries)
IT_avg_salary = np.mean(IT_salaries)
Finance_avg_salary = np.mean(Finance_salaries)
Sales_avg_salary = np.mean(Sales_salaries)

# Create a dictionary to store average salaries
avg_salaries = {
    "HR": HR_avg_salary,
    "IT": IT_avg_salary,
    "Finance": Finance_avg_salary,
    "Sales": Sales_avg_salary
}

# Find the department with the highest average salary
highest_avg_salary_dept = max(avg_salaries, key=avg_salaries.get)

print("Average salaries:")
for dept, avg_salary in avg_salaries.items():
    print(f"{dept}: {avg_salary}")

print(f"Department with highest average salary: {highest_avg_salary_dept}")

Average salaries:
HR: 55.666666666666664
IT: 67.0
Finance: 66.4
Sales: 65.28571428571429
Department with highest average salary: IT

In [28]:
#task4
import numpy as np

# Find the highest salaries in HR and Finance
HR_highest_salary = np.max(HR_salaries)
Finance_highest_salary = np.max(Finance_salaries)

print("Highest salary in HR:", HR_highest_salary)
print("Highest salary in Finance:", Finance_highest_salary)

Highest salary in HR: 60
Highest salary in Finance: 87

In [29]:
#task5
import numpy as np

IT_salaries = IT_salaries.astype(np.float64)

it_bonus = IT_salaries * 0.05

# Update IT salaries by adding the bonus
IT_salaries += it_bonus

print("Updated IT salaries:", IT_salaries)

Updated IT salaries: [70.35 70.35 70.35 70.35 70.35 70.35 70.35 70.35 70.35 70.35 70.35 70.35
 70.35 70.35 70.35]