In [2]:
#Task1:
import numpy as np
import pandas as pd

Student_IDS = np.arange(1001,1041)
Student_IDS_series = pd.Series(Student_IDS)
Student_IDS_series

0     1001
1     1002
2     1003
3     1004
4     1005
5     1006
6     1007
7     1008
8     1009
9     1010
10    1011
11    1012
12    1013
13    1014
14    1015
15    1016
16    1017
17    1018
18    1019
19    1020
20    1021
21    1022
22    1023
23    1024
24    1025
25    1026
26    1027
27    1028
28    1029
29    1030
30    1031
31    1032
32    1033
33    1034
34    1035
35    1036
36    1037
37    1038
38    1039
39    1040
dtype: int64

In [3]:
#task2
maths_marks=[35, 86, 63, 90, 50, 63, 15, 72, 15, 54, 72, 83, 58, 70, 92, 40, 59, 63, 53, 59, 55, 85, 18, 83, 67, 85, 46, 59, 77, 71, 77, 56, 79, 61, 82, 76, 60, 52, 88, 78]
physics_marks=[85, 94, 63, 59, 76, 64, 87, 55, 51, 71, 54, 94, 33, 72, 75, 67, 85, 15, 50, 50, 19, 55, 59, 65, 76, 13, 57, 70, 51, 94, 55, 50, 71, 91, 75, 51, 90, 70, 87, 56]
maths_marks_series = pd.Series(maths_marks , index= Student_IDS)
physics_marks_series = pd.Series(physics_marks, index=Student_IDS)
print(maths_marks_series)
print(physics_marks_series)

1001    35
1002    86
1003    63
1004    90
1005    50
1006    63
1007    15
1008    72
1009    15
1010    54
1011    72
1012    83
1013    58
1014    70
1015    92
1016    40
1017    59
1018    63
1019    53
1020    59
1021    55
1022    85
1023    18
1024    83
1025    67
1026    85
1027    46
1028    59
1029    77
1030    71
1031    77
1032    56
1033    79
1034    61
1035    82
1036    76
1037    60
1038    52
1039    88
1040    78
dtype: int64
1001    85
1002    94
1003    63
1004    59
1005    76
1006    64
1007    87
1008    55
1009    51
1010    71
1011    54
1012    94
1013    33
1014    72
1015    75
1016    67
1017    85
1018    15
1019    50
1020    50
1021    19
1022    55
1023    59
1024    65
1025    76
1026    13
1027    57
1028    70
1029    51
1030    94
1031    55
1032    50
1033    71
1034    91
1035    75
1036    51
1037    90
1038    70
1039    87
1040    56
dtype: int64

In [4]:
#task3:
total_score = maths_marks_series + physics_marks_series
print(total_score)

1001    120
1002    180
1003    126
1004    149
1005    126
1006    127
1007    102
1008    127
1009     66
1010    125
1011    126
1012    177
1013     91
1014    142
1015    167
1016    107
1017    144
1018     78
1019    103
1020    109
1021     74
1022    140
1023     77
1024    148
1025    143
1026     98
1027    103
1028    129
1029    128
1030    165
1031    132
1032    106
1033    150
1034    152
1035    157
1036    127
1037    150
1038    122
1039    175
1040    134
dtype: int64

In [5]:
#task4:
qualifying_students = total_score[total_score >= 120]
print("Qualifying students:")
print(qualifying_students)

Qualifying students:
1001    120
1002    180
1003    126
1004    149
1005    126
1006    127
1008    127
1010    125
1011    126
1012    177
1014    142
1015    167
1017    144
1022    140
1024    148
1025    143
1028    129
1029    128
1030    165
1031    132
1033    150
1034    152
1035    157
1036    127
1037    150
1038    122
1039    175
1040    134
dtype: int64

In [6]:
#task5:
df = pd.DataFrame(qualifying_students, columns=["round1 qualifiers"])
print(df)

      round1 qualifiers
1001                120
1002                180
1003                126
1004                149
1005                126
1006                127
1008                127
1010                125
1011                126
1012                177
1014                142
1015                167
1017                144
1022                140
1024                148
1025                143
1028                129
1029                128
1030                165
1031                132
1033                150
1034                152
1035                157
1036                127
1037                150
1038                122
1039                175
1040                134

In [8]:
#task6:
Qualifying_students= (physics_marks_series >= 50) & (maths_marks_series >=50) & (total_score >=120)
df2 = pd.DataFrame(Qualifying_students[Qualifying_students].index, columns=["round 2 qualifiers"])
print(df2)

    round 2 qualifiers
0                 1002
1                 1003
2                 1004
3                 1005
4                 1006
5                 1008
6                 1010
7                 1011
8                 1012
9                 1014
10                1015
11                1017
12                1022
13                1024
14                1025
15                1028
16                1029
17                1030
18                1031
19                1033
20                1034
21                1035
22                1036
23                1037
24                1038
25                1039
26                1040

In [11]:
#task7:
df2.shape
print(df2.count())
#in this data round2 qualifiers count is 27

round 2 qualifiers    27
dtype: int64